/* http://hershey-noailles.luuse.io/www/#Hershey-Noailles-Futura-Simplex-Bold */

@font-face {
    font-family: 'hersheylight';
    src: url('Hershey-Noailles-Times-Duplex-Italic-Light.otf') format('otf'),
         url('Hershey-Noailles-Times-Duplex-Italic-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hersheybold';
    src: url('Hershey-Noailles-Times-Duplex-Italic-Bold.otf') format('otf'),
         url('Hershey-Noailles-Times-Duplex-Italic-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hersheysimplex';
    src: url('Hershey-Noailles-Futura-Simplex-Bold.otf') format('otf'),
         url('Hershey-Noailles-Futura-Simplex-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hersheyregtriplex';
    src: url('Hershey-Noailles-Times-Triplex-Regular.otf') format('otf'),
         url('Hershey-Noailles-Times-Triplex-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  padding: 0 20px;
  font-family: 'hersheylight';
  color: black;
  font-size: 1em;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: 'hersheylight';
  padding-bottom: 0px;
}

p {
  font-family: 'hersheyregtriplex', -serif;
  font-size: 1.25em;
}

pre {
  text-align: left;
  padding: 0px 20px;
  width: 100%;
  white-space: pre-line;
  max-width: 80%;
  word-wrap: break-word;
}

a {
  color: royalblue;
  text-decoration: none;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🌹</text></svg>") 16 0,auto;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🌹</text></svg>") 16 0,auto;
  width: 100%;
}


.home {
  font-size: 1em;
  padding: 30px;
  background-color: #b8c3d1;
  display: block;
  width: 30%;
  height: auto;
  position: absolute;
  left: 50px;
  top: 50px;
}

.tending {
  background-color: #ccc897;
  color: black;
  padding: 100px 120px;
  width: 40%;
  height: auto;
}

.dll-prompt {
  background-color: #a6a7e3;
  font-size: 3em;
  color: black;
  position: absolute;
  top: 65%;
  left: 3%;
  width: 40%;
  height: auto;
}

.summer {
  background-color: #a3a69f;
  font-size: 1.5em;
  color: black;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 30%;
  height: auto;
}

.crafting-worlds {
  background-color: #cca297;
  position: absolute;
  top: 50%;
  left: 10%;
  right: 80%;
  width: 25%;
  height: auto;
  padding: 20px;
}

.crafting-worlds img {
  width: 100%;
  height: 100%;
}

.cloud-mountains {
  display: block;
  width: 50%;
  height: auto;
}

.twin-mountains {
  position: block;
  left: 60%;
  width: auto;
  height: auto;
}

/* .cloud-mountains img {
  padding: 50px;
} */

.lines {
  display: block;
  width: 40%;
  height: 40%;
}

.sewing-seams {
  position: absolute;
  top: 40%;
  left: 60%;
  height: 20px!important;
  width: auto;
}

.laughter-and-tears {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: auto;
  padding: 5px;
}

.laughter-and-tears img {
  width: 100%;
  height: 100%;
}

.folder-poems {
  background-color: #bfcc97;
  position: absolute;
  top: 1%;
  left: 70%;
  width: 20%;
  height: auto;
  padding: 20px 100px;
}

.folder-poem-gallery img {
  width: 100%;
  height: 100%;
}

button{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>👆🏽</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

button.folder-poem-gallery-btn {
  background-color: white;
  width: 50px;
  height: 50px;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color 0.5s ease-out;
}

button.btn-display-left {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%,-50%);
}

button.btn-display-left:hover {
  background-color: black;
  color: white;
}

button.btn-display-left:focus {
  outline:0;
}

button.btn-display-right {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%,-50%);
}

button.btn-display-right:focus {
  outline:0;
}

button.btn-display-right:hover {
  background-color: black;
  color: white;
}

.virtual-closeness {
  position: absolute;
  left: 15%;
  width: 70%;
  height: auto;
}

.virtual-closeness img {
  width: 100%;
  height: 100%;
}

.sculpting-communion {
  background-color: #ccc897;
  position: absolute;
  top: 2%;
  left: 60%;
  width: 50%;
  height: auto;
}

.sculpting-communion img {
  width: 100%;
  height: 100%;
}

.no-location-barrier {
  background-color: #a3a69f;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 40%;
  height: auto;
  padding: 50px;
}

.no-location-barrier img {
  width: 100%;
  height: 100%;
}

.snippets-of-life {
  background-color: #edcfc5;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 40%;
  height: auto;
  /* padding: 50px; */
}

.snippets-of-life img {
  width: 100%;
  height: 100%;
}

.welcome {
  background-color: white;
  border: 4px double black;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 15%;
  height: auto;
  padding: 50px;
  text-align: center;
}

.markov-chain-generated-love-poem {
  background-color: purple;
  position: absolute;
  top: 12%;
  left: 25%;
  width: 800px;
  height: 600px;
  padding: 20px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 800px;
  height: 490px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* padding: 20px; */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 90%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: purple;
  color: seashell;
}

/* Style the back side */
.flip-card-back {
  background-color: purple;
  transform: rotateY(180deg);
  padding-right: 80px;
}

.markov-poem-img{
  padding-left: 20px;
}

.soup-title {
  font-family: 'hersheylight';
  font-size: 1.5em;
  padding-bottom: 100px;
}

.soup-description {
  font-family: aktiv-grotesk-extended, sans-serif;
}

a.btn-link{
  background-color: seashell;
  padding: 15px;
  color: black;
  font-size: 1em;
}

video {
  width: 800px;
  height: auto;
}

.button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'hersheylight';
  background-color: white;
}

.ephemera {
  padding: 3px;
  width: 100%;
}

.ephemera img {
  width: 35%;
}

.through-the-glass{
  background-color: #97a7cc;
  /*  cca497 edcfc5*/
  position: absolute;
  top: 10%;
  left: 40%;
  width: 40%;
  height: auto;
  padding: 20px;
}

.through-the-glass img {
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

video#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background-size: contain;
}

.desktop_visible {
  display: block;
}

.mobile_visible {
  display: none;
}


@media screen and (max-width: 400px) {
body,html{
    color: black;
    font-size: 1em;
}

.desktop_visible {
  display: none;
}

.mobile_visible {
  display: block;
}

}
